In [1]:
import pandas as pd
import numpy as np

In [2]:
# pandas 출력 옵션 설정
pd.set_option('display.max_rows', None)  # 모든 행 출력
pd.set_option('display.max_columns', None)  # 모든 열 출력
pd.set_option('display.width', None)  # 출력의 가로 너비 제한 해제
pd.set_option('display.max_colwidth', None)  # 열 너비 제한 해제

In [3]:
df = pd.read_csv('preprocessing_ver4.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29186 entries, 0 to 29185
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         29186 non-null  object
 1   year          29186 non-null  int64
 2   version       29186 non-null  object
 3   type          29186 non-null  object
 4   director      29186 non-null  object
 5   actor         29186 non-null  object
 6   age           29186 non-null  object
 7   runtime       29186 non-null  int64
 8   rating        29186 non-null  float64
 9   like          29186 non-null  int64
 10  comment       29186 non-null  int64
 11  isDRM         29186 non-null  object
 12  cost          29186 non-null  int64
 13  period        29186 non-null  object
 14  is_action     29186 non-null  int64
 15  is_comedy     29186 non-null  int64
 16  is_drama      29186 non-null  int64
 17  is_melo       29186 non-null  int64
 18  is_horror     29186 non-null  int64
 19  is_fantasy    29186 non-null  int64
 20  is_animation  29186 non-null  int64
 21  is_DQ         29186 non-null  int64
 22  is_indie      29186 non-null  int64
 23  is_concert    29186 non-null  int64
dtypes: float64(1), int64(15), object(8)
memory usage: 5.3+ MB

In [27]:
df[df['title'] == '<강(江),원래> 초이스 1 :: 강에서...(무료)']

,title,year,version,type,director,actor,age,runtime,rating,like,comment,isDRM,cost,period,is_action,is_comedy,is_drama,is_melo,is_horror,is_fantasy,is_animation,is_DQ,is_indie,is_concert
508,"<강(江),원래> 초이스 1 :: 강에서...(무료)",0,Null,Null,이동렬,Null,전체 관람가,7,10.0,15,5,DRM,0,제한 없음,0,0,0,0,0,0,0,1,0,0

In [25]:
df.loc[(df['title'] == '허니와 클로버') & (df['type'] == 'Null'), 'type'] = '대여'

In [26]:
df.loc[(df['title'] == '허니와 클로버') & (df['type'] == '대여'), 'cost'] = 1500
df[df['title'] == '허니와 클로버']

,title,year,version,type,director,actor,age,runtime,rating,like,comment,isDRM,cost,period,is_action,is_comedy,is_drama,is_melo,is_horror,is_fantasy,is_animation,is_DQ,is_indie,is_concert
28286,허니와 클로버,2007,Null,대여,타카타 마사히로,"아오이 유우,사쿠라이 쇼,이세야 유스케,카세 료,세키 메구미,긴푼초,하마노 겐타,하루타 준이치,호리베 게이스케,사카이 마사토",전체 관람가,0,7.52,59,2,DRM,1500,7일,0,0,0,1,0,0,0,0,0,0
28287,허니와 클로버,2007,Null,구매,타카타 마사히로,"아오이 유우,사쿠라이 쇼,이세야 유스케,카세 료,세키 메구미,긴푼초,하마노 겐타,하루타 준이치,호리베 게이스케,사카이 마사토",전체 관람가,115,7.52,205,1,DRM,2000,제한 없음,0,0,0,1,0,0,0,0,0,0

In [32]:
none_cost_list = df[(df['type'] == 'Null') & (df['cost'] == 0)]['title'].tolist()
none_cost_list

['<강(江),원래> 초이스 1 :: 강에서...(무료)',
 '<강(江),원래> 초이스 1 :: 저문 강에 삽을 씻고(무료)',
 '<강(江),원래> 초이스 1 :: 죽지 않았다(무료)',
 '<강(江),원래> 초이스 2 :: 농민 being(무료)',
 '<강(江),원래> 초이스 2 :: 더블 스피크(무료)',
 '<강(江),원래> 초이스 2 :: 사람의 마음을 파내다(무료)',
 '<강(江),원래> 초이스 2 :: 자전거의 이름으로(무료)',
 '<강(江),원래> 초이스 :: 강길(무료)',
 '<강(江),원래> 초이스 :: 비엔호아(무료)',
 '<강(江),원래> 초이스 :: 삽의 아들 MB(무료)',
 '<강(江),원래> 초이스 :: 잘생긴 대통령(무료)',
 '<데드풀> 무료부가영상',
 'Jam Docu 강정(무료)',
 '경극소년 리턴즈',
 '고릴라 별',
 '내 이름은 말룸',
 '노다메 칸타빌레 Vol.1',
 '두 개의 세상',
 '레고 마블 어벤져스',
 '레고 마블 어벤져스',
 '레고 마블 어벤져스 : 기후위기',
 '레고 쥬라기 월드 : 더블트러블',
 '레고 쥬라기 월드 : 비밀 전시회',
 '루시의 갱스터 수업',
 '말괄량이 빈티와 오카피클럽',
 '밤세와 친구들: 화산섬 대모험',
 '수네 vs 수네',
 '쉘 위 댄스',
 '야콥 코는 마법 코',
 '완두콩 배의 롤라',
 '조제, 호랑이 그리고 물고기들',
 '파티51',
 '패밀리 맨']

In [37]:
for movie in none_cost_list:
    df.loc[df['title'] == movie, 'type'] = '무료'
df[df['type'] == 'Null']

Empty DataFrame
Columns: [title, year, version, type, director, actor, age, runtime, rating, like, comment, isDRM, cost, period, is_action, is_comedy, is_drama, is_melo, is_horror, is_fantasy, is_animation, is_DQ, is_indie, is_concert]
Index: []

In [39]:
df[df['title'] == '파티51']

,title,year,version,type,director,actor,age,runtime,rating,like,comment,isDRM,cost,period,is_action,is_comedy,is_drama,is_melo,is_horror,is_fantasy,is_animation,is_DQ,is_indie,is_concert
26466,파티51,2014,Null,무료,정용택,"하헌진,회기동 단편선,밤섬해적단,한받,박다함,유채림,안종녀",19세 관람가,101,8.97,27,3,DRM,0,제한 없음,0,0,0,0,0,0,0,1,0,0

In [40]:
len(df[(df['is_action'] != 1) & (df['is_action'] != 0)])

15

In [19]:
genre_list = ['is_action', 'is_comedy', 'is_drama', 'is_melo', 'is_horror', 'is_fantasy', 'is_animation', 'is_DQ', 'is_indie', 'is_concert']
for genre in genre_list:
    # df.loc[df[genre] == 2, genre] = 1
    # df.loc[df[genre] == 3, genre] = 1
    print(df[genre].value_counts())

is_action
0    18937
1    10249
Name: count, dtype: int64
is_comedy
0    23823
1     5363
Name: count, dtype: int64
is_drama
0    16620
1    12566
Name: count, dtype: int64
is_melo
0    25552
1     3634
Name: count, dtype: int64
is_horror
0    23723
1     5463
Name: count, dtype: int64
is_fantasy
0    25918
1     3268
Name: count, dtype: int64
is_animation
0    26351
1     2835
Name: count, dtype: int64
is_DQ
0    28051
1     1135
Name: count, dtype: int64
is_indie
0    29135
1       51
Name: count, dtype: int64
is_concert
0    29127
1       59
Name: count, dtype: int64

In [45]:
df.to_csv('preprocessing_ver4.csv', index=False)

In [46]:
df['type'].value_counts()

type
구매    19336
대여     9801
무료       49
Name: count, dtype: int64

In [16]:
df.loc[(df['title'] == '쿵푸 요가') & (df['type'] == '무료'), 'type'] = '대여'
df.loc[(df['title'] == '쿵푸 요가') & (df['type'] == '대여'), 'cost'] = 1000

In [66]:
df[df['title'] == '패밀리 맨']

,title,year,version,type,director,actor,age,runtime,rating,like,comment,isDRM,cost,period,is_action,is_comedy,is_drama,is_melo,is_horror,is_fantasy,is_animation,is_DQ,is_indie,is_concert
26572,패밀리 맨,2000,Null,구매,브렛 래트너,"니콜라스 케이지,티아 레오니,제레미 피번,조세프 소머,사울 루비넥,돈 치들",15세 관람가,126,9.27,124,3,DRM,6500,제한 없음,0,1,1,1,0,1,0,0,0,0
26573,패밀리 맨,2000,Null,대여,브렛 래트너,"니콜라스 케이지,티아 레오니,제레미 피번,조세프 소머,사울 루비넥,돈 치들",15세 관람가,126,9.27,66,15,DRM,1500,7일,0,0,0,0,0,1,0,0,0,0

In [65]:
df.loc[(df['title'] == '패밀리 맨') & (df['cost'] == 1500), 'type'] = '대여'
#df.loc[(df['title'] == '조제, 호랑이 그리고 물고기들') & (df['year'] == 2004) & (df['type'] == '대여'), 'cost'] = 1500

In [67]:
df['type'].value_counts()

type
구매    19343
대여     9812
무료       30
Name: count, dtype: int64

In [68]:
df.to_csv('preprocessed_SeriesOn.csv', index=False)